@font-face {
  font-family: futura;
  src: url("./font/futura\ light\ bt.ttf");
}
@font-face {
  font-family: futura-m;
  src: url("./font/futura\ medium\ bt.ttf");
}
@font-face {
  font-family: futura-l;
  src: url("./font/Futura\ XBlk\ BT.ttf");
}
@font-face {
  font-family: futura-x;
  src: url("./font/futura\ medium\ condensed\ bt.ttf");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
* .App {
  text-align: center;
}

.dress_description {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* background: rgba(29, 106, 154, 0.72); */
  /* color: #fff; */
  visibility: hidden;
  opacity: 0;
  font-size: 1rem;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
  height: 100%;
  width: 100%;
  font-family: futura;
  padding: 0.51%;
}

.dress:hover .dress_description {
  visibility: visible;
  opacity: 1;
}
.dress img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 2);
  box-sizing: border-box;
  border: 1px solid rgb(143, 130, 130);
  shape-image-threshold: 0.7;
  border-radius: 1%;
}

.dresses {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  column-count: 4;
  max-width: 100%;
  margin: 0 auto;
  padding: 1%;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  column-gap: 17px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 25);
}

/* .price {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 20px;
  color: #d01345;
  white-space: nowrap;
  font-family: futura-m;
} */

.header {
  height: 6vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header a {
  color: #fff;
  /* margin: 10%; */
  padding: 1%;
  font-family: futura;
  font-size: 1.2em;
  text-decoration: none;
}

.home {
  background-image: url("https://i.ibb.co/SKhqzyY/dress.jpg") cover no-repeat;
  opacity: 0.9;
}
@media screen and (max-width: 1024px) {
  .dresses {
    column-count: 3;
  }
}
@media screen and (max-width: 640px) {
  .dresses {
    column-count: 2;
  }
}
@media screen and (max-width: 375px) {
  .dresses {
    column-count: 1;
  }
}
