@font-face {
  font-family: futura;
  src: url("./font/futura\ light\ bt.ttf");
}
@font-face {
  font-family: futura-m;
  src: url("./font/futura\ medium\ bt.ttf");
}
@font-face {
  font-family: futura-l;
  src: url("./font/Futura\ XBlk\ BT.ttf");
}
@font-face {
  font-family: futura-x;
  src: url("./font/futura\ medium\ condensed\ bt.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.App {
  text-align: center;
  position: relative;
  background-color: #f3f1f5;
}

.dress_description {
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 4.375rem;
  font-size: 2em;
  visibility: hidden;
  opacity: 0;
  font-family: futura;
  transition: opacity 0.2s, visibility 0.2s;
  height: 100%;
  width: 100%;
  font-family: futura;
  padding: 0.51%;
}
.dress {
  position: relative;
  width: 100%;
  height: 500px;
}
.dress:hover {
  opacity: 0.8;
}
.dress:hover .dress_description {
  visibility: visible;
  opacity: 1;
}
.dress-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dresses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #f3f1f5;
  width: 80%;
  margin: auto;
  padding: 4%;
}

.header {
  height: 6vh;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
}

.header a {
  color: #fff;
  padding: 1%;
  font-family: futura;
  font-size: 1.2em;
  text-decoration: none;
}

.home {
  background: url("https://i.ibb.co/SrK1Dd7/dress.jpg") center center/cover
    no-repeat;
  opacity: 0.9;
  font-family: futura;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .dresses {
    column-count: 3;
  }
}
@media screen and (max-width: 640px) {
  .dresses {
    column-count: 2;
  }
}
@media screen and (max-width: 375px) {
  .dresses {
    column-count: 1;
  }
}
.dress-item {
  font-family: futura;
}

.Create {
  position: absolute;
  top: 200%;
  right: 40%;
  margin: auto;
}
